<div class="product-list">
    <div class="product-list__header">
        <div class="product-list__heading">
            <h1 class="product-list__title">{{ pageTitle }}</h1>
            <p class="product-list__subtitle">{{ pageSubtitle }}</p>
        </div>

        <div class="product-list__actions">
            <div class="product-list__search">
                <i class="material-icons">search</i>
                <input type="text" placeholder="Buscar..." [(ngModel)]="searchTerm" (input)="search($event)" />
            </div>
            <select #providerSel class="product-list__select"
                (change)="selectedProviderSubject.next(providerSel.value)">
                <option value="" disabled selected>Proveedor</option>
                <option *ngFor="let provider of providerOptions" [value]="provider.id">
                    {{provider.name}} - {{provider.company}}
                </option>
            </select>
            <app-sort-order-dialog *ngIf="cards && selectedProvider" [items]="sortItems"
                [title]="'Ordenar ' + pageTitle" [modalId]="'sortRawMaterialByProvider'" [saving]="savingOrder"
                (save)="onSaveOrder($event)">
            </app-sort-order-dialog>
            <button *ngIf="cards" type="button" routerLink="create" class="product-list__create-btn">
                <i class="material-icons">add</i>
                <span>{{ materialType === 2 ? 'Crear Material de Empaque' : 'Crear Materia Prima' }}</span>
            </button>
        </div>
    </div>

    <div class="product-list__grid">
        <div *ngIf="!cards" class="product-list__loader">
            <span class="spinner-border spinner-border-lg"></span>
        </div>
        <div *ngIf="cards && !selectedProvider" class="product-list__empty">
            Selecciona un proveedor para ver sus materiales.
        </div>
        <app-product-card
            *ngFor="let cardElements of cards | slice: (pager.page-1) * pager.pageSize : (pager.page-1) * pager.pageSize + pager.pageSize"
            [cardElements]="cardElements">
        </app-product-card>
    </div>

    <div class="product-list__footer" *ngIf="selectedProvider">
        <div class="product-list__footer-info">
            <span>Filas por página</span>
            <select class="product-list__page-select" [(ngModel)]="pager.pageSize" (change)="pager.page = 1">
                <option *ngFor="let s of pageSizes" [ngValue]="s">{{ s }}</option>
            </select>
            <span>registros</span>
        </div>
        <ngb-pagination [pageSize]="pager.pageSize" [maxSize]="3" [rotate]="true" [ellipses]="true"
            [collectionSize]="this.cards?.length ? this.cards!.length : 0" [(page)]="pager.page"
            [boundaryLinks]="true"></ngb-pagination>
    </div>
</div>
