<div class="genericCard pt-3">
    <mat-card class="mat-elevation-z8">
        <div *ngIf="loading" class="text-center m-5">
            <span class="spinner-border spinner-border-lg align-center"></span>
        </div>
        <mat-card-header *ngIf="!loading" style="justify-content: center;">
            <mat-card-title>{{rawMaterial?.rawMaterialBase?.name}}</mat-card-title>
        </mat-card-header>
        <mat-card-content *ngIf="!loading">
            <br>
            <div class="d-flex flex-wrap justify-content-around">
                <div class="col-md-6">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item" *ngFor="let element of elements">
                            <div class="d-flex flex-row align-items-center">
                                <i class="material-icons icon element-icon" style="font-size: 30px;">{{element.icon}}</i>
                                <div class="px-3">
                                    <p class="element-title">{{element.name}}</p>
                                    <p class="element-value">{{element.value}}</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div *ngIf="cardPhoto" class="col-lg-3 col-md-12">
                    <!-- <p class="element-value">Imagen del producto</p> -->
                    <img class="responsive form-group" [src]="cardPhoto" alt="" />
                </div>
            </div>
            <div class="d-flex flex-wrap justify-content-center">
                <button
                type="button" routerLink="/rawMaterialsByProvider/edit/{{rawMaterial!._id}}" [disabled]="submitting"
                class="btn btn-primary m-2">
                <div class="d-flex flex-row p-1">
                    <i class="material-icons icon">edit</i>
                    <span class="px-1">EDITAR</span>
                </div>
                </button>
                <button
                type="button" (click)="deleteRawMaterial()" [disabled]="submitting"
                class="btn btn-danger m-2">
                <div class="d-flex flex-row p-1">
                    <span *ngIf="submitting" class="spinner-border spinner-border-sm me-1"></span>
                    <i class="material-icons icon">delete</i>
                    <span class="px-1">ELIMINAR</span>
                </div>
                </button>
            </div>
        </mat-card-content>
    </mat-card>
</div>