@import '/src/scss/colors';

@media (min-width: 991.98px) {
    main {
      padding-left: 240px;
      padding-top: 50px;
      // margin-top: 70px;
    }
  }

@media (max-width: 991.97px) {
    main {
        padding-top: 50px;
        // margin-top: 70px;
    }
}

.main-container{
  background-color: $background-color;
}
