  <!-- Navbar -->
  <nav id="main-navbar" class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <!-- Container wrapper -->
    <div class="container-fluid">
      <button
              data-bs-toggle="collapse" 
              data-bs-target="#sidebarMenu" 
              aria-controls="sidebarMenu" 
              aria-expanded="false"
              class="navbar-toggler mx-auto"
              type="button"
              >
              <mat-icon>table_rows_narrow</mat-icon>
      </button>

      <!-- Brand -->
      <a class="navbar-brand d-none d-md-flex" href="/home">
        <img
             src="assets/img/brand/embutidos_any_900x150_white.png"
             height="35"
             alt=""
             loading="lazy"
             />
      </a>
      <!-- Brand -->
      <a class="navbar-brand d-flex d-md-none" href="/home">
        <img
             src="assets/img/brand/embutidos_any_900x150_white.png"
             height="35"
             alt=""
             loading="lazy"
             />
      </a>
      <!-- Search form -->
      <form class="d-none d-md-flex input-group w-auto my-auto">
        <input
               autocomplete="off"
               type="search"
               class="form-control"
               placeholder='Buscar...'
               style="min-width: 225px"
               />
               <div class="input-group-append">
                <button class="btn btn-light" type="submit">
                    <span class="input-group-text">
                        <i class="large material-icons">search</i>
                    </span>
                </button>
              </div>

      </form>

      <!-- Right links -->
      <ul class="navbar-nav ms-auto d-flex flex-row">
        <!-- Notification dropdown -->

        <!-- Avatar -->
        <li class="nav-item dropdown">
          <button mat-icon-button [matMenuTriggerFor]="menu" class="btn btn-outline-light mat-menu-button">
            <i class="large material-icons mat-menu-icon">apps</i>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item>
              <mat-icon>person</mat-icon>
              <span>Mi perfil</span>
            </button>
            <button (click)="logOut()" mat-menu-item>
              <mat-icon>logout</mat-icon>
              <span>Cerrar Sesión</span>
            </button>
          </mat-menu>
        </li>
      </ul>
    </div>
    <!-- Container wrapper -->
  </nav>
  <!-- Navbar -->