.genericCard {
    /* margin-top: 10px; */
    margin: 20px;
}

.custom-input{
    padding: 0 10px;
}

// img{
//     max-width: 250px;
//     max-height: 250px;
// }

.responsive {
    width: 90%;
    height: auto;
    align-self: center;
}

.form-group{
    margin-bottom: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.element-icon{
    color: #ff8738;
}