.responsive {
    width: 90%;
    height: auto;
    align-self: center;
}

.form-group{
    margin-bottom: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.element-icon{
    color: #ff6e20;
}

.element-title{
    font-size: medium;
    color: gray;
}

.element-value{
    font-size: large;
}