<div class="genericCard pt-3">
    <mat-card class="mat-elevation-z8">
        <mat-card-header style="justify-content: center;">
            <mat-card-title>{{title}}</mat-card-title>
            <!-- <mat-card-subtitle>Tienda</mat-card-subtitle> -->
        </mat-card-header>
        <mat-card-content>
            <br>
            <div *ngIf="loading" class="text-center m-5">
                <span class="spinner-border spinner-border-lg align-center"></span>
            </div>
            <form *ngIf="!loading&&!id" [formGroup]="productoForSaleForm" (ngSubmit)="onSaveForm()">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="d-flex flex-wrap justify-content-center justify-content-md-center col-md-12 align-self-start">
                            <mat-form-field *ngIf="!this.id" class="col-sm-12 col-md-4 custom-input align-self-start" appearance="outline">
                                <mat-label>Tienda</mat-label>
                                <mat-select matInput disableOptionCentering formControlName="establishment"
                                    [ngClass]="{ 'is-invalid': f['establishment'].errors }" (valueChange)="selectedEstablishmentSubject.next($event)">
                                    <mat-option *ngFor="let establishment of establishmentOptions" value="{{establishment._id}}">{{establishment.name}} ({{establishment.address}})</mat-option>
                                </mat-select>
                                <div class="invalid-feedback" *ngIf="f['establishment'].errors">
                                    <div *ngIf="f['establishment'].errors['required']">
                                        Tienda requerida
                                    </div>
                                </div>
                            </mat-form-field>
                        </div>
                        <div *ngIf="!id && selectedEstablishmentSubject.value" class="row justify-content-center col-12">
                            <div class="p-3 col-sm-12 col-md-6">
                                <h2 class="text-center text-muted">Producto terminado</h2>
                                <div class="table-container my-custom-scrollbar">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th style="width: 25%">Nombre</th>
                                                <th style="width: 50%">Descripcion</th>
                                                <th style="width: 15%">Medida</th>
                                                <th style="width: 20%">Agregar</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let finishedProduct of finishedProducts; let i = index">
                                                <td>{{finishedProduct.name}}</td>
                                                <td>{{finishedProduct.description}}</td>
                                                <td>{{finishedProduct.measure?.identifier}}</td>
                                                <td style="white-space: nowrap">
                                                    <button
                                                        type="button" (click)="selectFinishedProductV2(finishedProduct, i)"
                                                        class="btn btn-success btn-sm pb-0 mx-1"
                                                        data-bs-toggle="modal" data-bs-target="#finishedProductModal">
                                                            <i class="material-icons">add_circle</i>
                                                    </button>
                                                </td>
                                            </tr>
                                            <tr *ngIf="!finishedProducts">
                                                <td colspan="4" class="text-center">
                                                    <span class="spinner-border spinner-border-lg align-center"></span>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="table-responsive p-3 col-sm-12 col-md-6">
                                <h2 class="text-center text-muted">Producto para venta</h2>
                                <div class="table-container my-custom-scrollbar">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th style="width: 25%">Nombre</th>
                                                <th style="width: 50%">Descripcion</th>
                                                <th style="width: 15%">Medida</th>
                                                <th style="width: 10%">Precio</th>
                                                <th style="width: 15%">Acciones</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let pfs of productForSaleElements; let i = index">
                                                <td>{{pfs.finishedProduct?.name}}</td>
                                                <td>{{pfs.finishedProduct?.description}}</td>
                                                <td>{{pfs.finishedProduct?.measure?.identifier}}</td>
                                                <td>Q {{pfs.price}}</td>
                                                <td style="white-space: nowrap">
                                                    <button
                                                        type="button" (click)="unselectFinishedProductV2(pfs, i)"
                                                        class="btn btn-danger btn-sm pb-0 mx-1">
                                                            <i class="material-icons">cancel</i>
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <mat-divider></mat-divider>
                        </div>
                        <div class="col-sm-12 text-center p-2">
                            <button id="boton-form-crear-comunidad" type="submit" [disabled]="submitting||productoForSaleForm.invalid||!productForSaleElements||productForSaleElements.length <= 0"
                                class="btn btn-outline-success btn-lg">
                                <span *ngIf="submitting" class="spinner-border spinner-border-sm me-1"></span>
                                Guardar Producto(s) para Venta
                            </button>
                        </div>
                    </div>
                </div>
            </form>
            <form *ngIf="!loading&&id" [formGroup]="productoForSaleForm" (ngSubmit)="onSaveForm()">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="d-flex flex-wrap justify-content-center justify-content-md-center col-md-12 align-self-start">
                        </div>
                        <div class="row justify-content-center col-12">
                            <mat-form-field class="col-sm-12 col-md-4 custom-input align-self-start" appearance="outline">
                                <mat-label>Precio (Quetzales)</mat-label>
                                <input id="nombre-form-crear-comunidad" type="text" #price maxlength="{{listMaxLength['price']}}" formControlName="price" matInput
                                    [ngClass]="{ 'is-invalid': f['price'].errors }" />
                                    <mat-hint align="end">{{price.value.length}} / {{listMaxLength['price']}}</mat-hint>
                                <div class="invalid-feedback" *ngIf="f['price'].errors">
                                    <div *ngIf="f['price'].hasError('required')">
                                        Precio requerido
                                    </div>
                                    <div *ngIf="f['price'].hasError('pattern')">
                                        Debe contener unicamente numeros positivos con maximo dos decimales. <strong>E.g. 15.50</strong>
                                    </div>
                                </div>
                            </mat-form-field>
                        </div>
                        <div class="col-sm-12 text-center p-2">
                            <button id="boton-form-crear-comunidad" type="submit" [disabled]="submitting||productoForSaleForm.invalid"
                                class="btn btn-outline-success btn-lg">
                                <span *ngIf="submitting" class="spinner-border spinner-border-sm me-1"></span>
                                Guardar Producto para Venta
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>

<div class="modal fade" id="finishedProductModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="finishedProductModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div *ngIf="selectedFinishedProduct" class="modal-header">
                <h1 class="modal-title fs-5" id="finishedProductModalLabel">{{this.selectedFinishedProduct.name}}</h1>
                <button type="button" class="btn-close" (click)="closeFinishedProductDialog()" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="finishedProductForm">
                    <div class="d-flex flex-wrap justify-content-center">
                        <div class="col-12">
                            <view-object class="align-self-start" [objectElements]="elements" [imgIdentifier]="this.selectedFinishedProduct?.photo"></view-object>
                        </div>
                        <div class="d-flex flex-wrap justify-content-center col-12 p-3">
                            <div class="px-2">
                                <mat-form-field class="custom-input align-self-start" appearance="outline">
                                    <mat-label>Precio (Quetzales)</mat-label>
                                    <input id="price-modal-form" type="text" formControlName="price" matInput
                                        [ngClass]="{ 'is-invalid': r['price'].errors }" />
                                    <div class="invalid-feedback" *ngIf="r['price'].errors">
                                        <div *ngIf="r['price'].hasError('required')">
                                            Precio requerido
                                        </div>
                                        <div *ngIf="r['price'].hasError('pattern')">
                                            Debe contener unicamente numeros positivos con maximo dos decimales. <strong>E.g. 15.50</strong>
                                        </div>
                                    </div>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="closeFinishedProductDialog()" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" (click)="onSaveFinishedProductForm()" [disabled]="!finishedProductForm.valid" data-bs-dismiss="modal">Agregar</button>
            </div>
        </div>
    </div>
</div>