<!-- <h1>{{title}}</h1>
<form *ngIf="!loading" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="row">
        <div class="mb-3 col">
            <label class="form-label">First Name</label>
            <input type="text" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['firstName'].errors }" />
            <div *ngIf="submitted && f['firstName'].errors" class="invalid-feedback">
                <div *ngIf="f['firstName'].errors['required']">First Name is required</div>
            </div>
        </div>
        <div class="mb-3 col">
            <label class="form-label">Last Name</label>
            <input type="text" formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['lastName'].errors }" />
            <div *ngIf="submitted && f['lastName'].errors" class="invalid-feedback">
                <div *ngIf="f['lastName'].errors['required']">Last Name is required</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="mb-3 col">
            <label class="form-label">Username</label>
            <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['username'].errors }" />
            <div *ngIf="submitted && f['username'].errors" class="invalid-feedback">
                <div *ngIf="f['username'].errors['required']">Username is required</div>
            </div>
        </div>
        <div class="mb-3 col">
            <label class="form-label">
                Password
                <em *ngIf="id">(Leave blank to keep the same password)</em>
            </label>
            <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['password'].errors }" />
            <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
                <div *ngIf="f['password'].errors['required']">Password is required</div>
                <div *ngIf="f['password'].errors['minlength']">Password must be at least 6 characters</div>
            </div>
        </div>
    </div>
    <div class="mb-3">
        <button [disabled]="submitting" class="btn btn-primary">
            <span *ngIf="submitting" class="spinner-border spinner-border-sm me-1"></span>
            Save
        </button>
        <a routerLink="/users" class="btn btn-link">Cancel</a>
    </div>
</form> -->
<div class="genericCard pt-3">
    <mat-card class="mat-elevation-z8">
        <mat-card-header style="justify-content: center;">
            <mat-card-title>{{title}}</mat-card-title>
            <!-- <mat-card-subtitle>Tienda</mat-card-subtitle> -->
        </mat-card-header>
        <mat-card-content>
            <br>
            <div *ngIf="loading" class="text-center m-5">
                <span class="spinner-border spinner-border-lg align-center"></span>
            </div>
            <form *ngIf="!loading" [formGroup]="userForm" (ngSubmit)="onSubmit()">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col col-lg-6">
                            <div class="d-flex flex-wrap justify-content-center">
                                <mat-form-field class="col-sm-10 custom-input" appearance="outline">
                                    <mat-label>Nombre(s) y Apellido(s)</mat-label>
                                    <input id="completeName-form-add-edit-user" type="text" #name maxlength="{{listMaxLength['name']}}" formControlName="name" matInput
                                        [ngClass]="{ 'is-invalid': f['name'].errors }" />
                                        <mat-hint align="end">{{name.value.length}} / {{listMaxLength['name']}}</mat-hint>
                                    <div class="invalid-feedback" *ngIf="f['name'].errors">
                                        <div *ngIf="f['name'].hasError('required')">
                                            Nombre(s) y Apellido(s) requeridos
                                        </div>
                                        <div *ngIf="f['name'].hasError('pattern')"><strong>El nombre no puede estar vacio</strong>
                                        </div>
                                    </div>
                                </mat-form-field>
                                <mat-form-field class="col-sm-10 custom-input" appearance="outline">
                                    <mat-label>Numero de telefono</mat-label>
                                    <input id="phone-form-add-edit-user" type="text" #phone maxlength="{{listMaxLength['phone']}}" formControlName="phone" matInput
                                        [ngClass]="{ 'is-invalid': f['phone'].errors }" />
                                        <mat-hint align="end">{{phone.value.length}} / {{listMaxLength['phone']}}</mat-hint>
                                    <div class="invalid-feedback" *ngIf="f['phone'].errors">
                                        <div *ngIf="f['phone'].hasError('pattern')">
                                            Debe contener unicamente numeros
                                        </div>
                                    </div>
                                </mat-form-field>
                                <mat-form-field class="col-sm-10 custom-input align-self-start" appearance="outline">
                                    <mat-label>Estado</mat-label>
                                    <mat-select matInput disableOptionCentering formControlName="status"
                                        [ngClass]="{ 'is-invalid': f['status'].errors }" (valueChange)="selectedStatusSubject.next($event)">
                                        <mat-option *ngFor="let status of statusOptions" value="{{status.id}}">{{status.identifier}}</mat-option>
                                    </mat-select>
                                    <div class="invalid-feedback" *ngIf="f['status'].errors">
                                        <div *ngIf="f['status'].errors['required']">
                                            Estado requerido
                                        </div>
                                    </div>
                                </mat-form-field>
                                <mat-form-field class="col-sm-10 custom-input align-self-start" appearance="outline">
                                    <mat-label>Rol</mat-label>
                                    <mat-select matInput disableOptionCentering formControlName="role"
                                        [ngClass]="{ 'is-invalid': f['role'].errors }" (valueChange)="selectedRoleSubject.next($event)">
                                        <mat-option *ngFor="let role of roleOptions" value="{{role.id}}">{{role.identifier}}</mat-option>
                                    </mat-select>
                                    <div class="invalid-feedback" *ngIf="f['role'].errors">
                                        <div *ngIf="f['role'].errors['required']">
                                            Rol requerido
                                        </div>
                                    </div>
                                </mat-form-field>
                                <mat-form-field *ngIf="!id" class="col-sm-10 custom-input" appearance="outline">
                                    <mat-label>Correo electronico</mat-label>
                                    <input id="email-form-add-edit-user" type="text" #email maxlength="{{listMaxLength['email']}}" formControlName="email" matInput
                                        [ngClass]="{ 'is-invalid': f['email'].errors }"/>
                                        <mat-hint align="end">{{email.value.length}} / {{listMaxLength['email']}}</mat-hint>
                                    <div class="invalid-feedback" *ngIf="f['email'].errors">
                                        <div *ngIf="f['email'].hasError('required')">
                                            Correo electronico requerido
                                        </div>
                                        <div *ngIf="f['email'].hasError('pattern')">El correo debe contener
                                            <strong>una estructura como example@email.com</strong>
                                        </div>
                                    </div>
                                </mat-form-field>
                                <mat-form-field *ngIf="!this.id" class="col-sm-10 custom-input" appearance="outline">
                                    <mat-label>Contraseña</mat-label>
                                    <input id="password-form-add-edit-user" type="password" #password maxlength="{{listMaxLength['password']}}" formControlName="password" matInput
                                        [ngClass]="{ 'is-invalid': f['password'].errors }" />
                                        <mat-hint align="end">{{password.value.length}} / {{listMaxLength['password']}}</mat-hint>
                                    <div class="invalid-feedback" *ngIf="f['password'].errors">
                                        <div *ngIf="f['password'].hasError('required')">
                                            Contraseña requerida
                                        </div>
                                        <div *ngIf="f['password'].hasError('pattern')">La contraseña debe contener
                                            <strong>más de 6 caracteres, mínimo 1 letra mayúscula, mínimo 1 letra minúscula, 
                                                mínimo 1 caracter especial (@$!%*?&)</strong>
                                        </div>
                                    </div>
                                </mat-form-field>
                                <div class="col-md-8 col-sm-12 text-center">
                                    <button [disabled]="submitting|| userForm.invalid" class="btn btn-outline-success btn-lg">
                                        <span *ngIf="submitting" class="spinner-border spinner-border-sm me-1"></span>
                                        Guardar Usuario
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>