<div class="genericCard pt-3">
    <mat-card class="mat-elevation-z8">
        <mat-card-header style="justify-content: center;">
            <mat-card-title>{{title}}</mat-card-title>
            <!-- <mat-card-subtitle>Tienda</mat-card-subtitle> -->
        </mat-card-header>
        <mat-card-content>
            <br>
            <div *ngIf="loading" class="text-center m-5">
                <span class="spinner-border spinner-border-lg align-center"></span>
            </div>
            <form *ngIf="!loading">
                <div class="container">
                    <div class="row justify-content-center">
                        <!-- <div *ngIf="!selectedFinishedProduct && !this.id" class="row justify-content-center col-12">
                            <div class="table-responsive p-3 col-sm-12 col-md-8">
                                <h3 class="text-center">Materia Prima Base</h3>
                                <table class="table table-striped my-custom-scrollbar">
                                    <thead>
                                        <tr>
                                            <th style="width: 25%">Nombre</th>
                                            <th style="width: 50%">Descripcion</th>
                                            <th style="width: 15%">Medida</th>
                                            <th style="width: 15%">Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let finishedProduct of finishedProducts; let i = index">
                                            <td>{{finishedProduct.name}}</td>
                                            <td>{{finishedProduct.description}}</td>
                                            <td>{{finishedProduct.measure?.identifier}}</td>
                                            <td style="white-space: nowrap">
                                                <button
                                                    type="button" (click)="selectFinishedProduct(finishedProduct)"
                                                    class="btn btn-success btn-sm pb-0 mx-1">
                                                        <i class="material-icons">open_in_new</i>
                                                </button>
                                            </td>
                                        </tr>
                                        <tr *ngIf="!finishedProducts">
                                            <td colspan="4" class="text-center">
                                                <span class="spinner-border spinner-border-lg align-center"></span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div *ngIf="selectedFinishedProduct && !this.id" class="d-flex flex-wrap justify-content-center col-md-12 p-3">
                            <div class="col-md-8">
                                <view-object class="align-self-start" [objectElements]="finishedProductsElements" [imgIdentifier]="this.selectedFinishedProduct.photo"></view-object>
                                <div class="d-flex flex-wrap justify-content-center justify-content-md-center col-md-12 align-self-start">
                                    <mat-form-field class="col-sm-12 col-md-4 custom-input align-self-start" appearance="outline">
                                        <mat-label>Medida</mat-label>
                                        <mat-select matInput disableOptionCentering formControlName="measure"
                                            [ngClass]="{ 'is-invalid': f['measure'].errors }" (valueChange)="selectedMeasureSubject.next($event)">
                                            <mat-option *ngFor="let measure of filteredFinishedProductMeasureOptions" value="{{measure.id}}">{{measure.identifier}}</mat-option>
                                        </mat-select>
                                        <div class="invalid-feedback" *ngIf="f['measure'].errors">
                                            <div *ngIf="f['measure'].errors['required']">
                                                Medida requerida
                                            </div>
                                        </div>
                                    </mat-form-field>
                                    <mat-form-field class="col-sm-12 col-md-4 custom-input align-self-start" appearance="outline">
                                        <mat-label>Cantidad</mat-label>
                                        <input id="quantity-form" type="text" formControlName="quantity" matInput
                                            [ngClass]="{ 'is-invalid': f['quantity'].errors }" (input)="setQuantityValue($event)" />
                                        <div class="invalid-feedback" *ngIf="r['quantity'].errors">
                                            <div *ngIf="f['quantity'].hasError('required')">
                                                Cantidad requerida
                                            </div>
                                            <div *ngIf="f['quantity'].hasError('pattern')">
                                                Debe contener unicamente numeros positivos con maximo dos decimales. <strong>E.g. 15.50</strong>
                                            </div>
                                        </div>
                                    </mat-form-field>
                                </div>
                                <div class="col-sm-12 text-center p-2">
                                    <button id="boton-form-unselect-raw-material" type="button" (click)="unselectFinishedProduct()"
                                        class="btn btn-outline-primary">
                                        Cambiar Materia Prima
                                    </button>
                                </div>
                            </div>
                        </div> -->
                        <div class="d-flex flex-wrap justify-content-center justify-content-md-center col-md-12 align-self-start">
                            <!-- *ngIf="selectedProviderSubject.value" -->
                            <!-- <div *ngIf="selectedProviderSubject.value" class="row justify-content-center col-12"> -->
                            <div *ngIf="!isEditOption" class="row justify-content-center col-12">
                                <div class="p-3 col-sm-12 col-md-6">
                                    <h2 class="text-center text-muted">Producto terminado</h2>
                                    <div class="table-container my-custom-scrollbar">
                                        <table class="table table-bordered border-primary">
                                            <thead>
                                                <tr>
                                                    <th style="width: 40%">Nombre</th>
                                                    <th style="width: 20%">Medida</th>
                                                    <th style="width: 20%">Agregar</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let finishedProduct of finishedProducts; let i = index">
                                                    <td>{{finishedProduct.name}}</td>
                                                    <td>{{finishedProduct.measure?.identifier}}</td>
                                                    <!-- <td>{{rawMaterial.status!.id}}</td> -->
                                                    <td style="white-space: nowrap">
                                                        <button
                                                            type="button" (click)="selectFinishedProduct(finishedProduct)"
                                                            class="btn btn-success btn-sm pb-0 mx-1"
                                                            data-bs-toggle="modal" data-bs-target="#finishedProductModal">
                                                                <i class="material-icons">add_circle</i>
                                                        </button>
                                                    </td>
                                                </tr>
                                                <tr *ngIf="!finishedProducts">
                                                    <td colspan="4" class="text-center">
                                                        <span class="spinner-border spinner-border-lg align-center"></span>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="table-responsive p-3 col-sm-12 col-md-6">
                                    <h2 class="text-center text-muted">Producto terminado fabricado</h2>
                                    <div class="table-container my-custom-scrollbar">
                                        <table class="table table-bordered border-primary">
                                            <thead>
                                                <tr>
                                                    <th style="width: 40%">Nombre</th>
                                                    <th style="width: 20%">Medida</th>
                                                    <th style="width: 20%">Cantidad</th>
                                                    <th style="width: 20%">Eliminar</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let fppElement of finishedProductCreationProducedElements; let i = index">
                                                    <td>{{fppElement?.finishedProductName}}</td>
                                                    <td>{{fppElement.measure?.identifier}}</td>
                                                    <td>{{fppElement.quantity}}</td>
                                                    <td style="white-space: nowrap">
                                                        <button
                                                            type="button" (click)="unselectFinishedProduct(fppElement, i)"
                                                            class="btn btn-danger btn-sm pb-0 mx-1">
                                                                <i class="material-icons">cancel</i>
                                                        </button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <mat-divider></mat-divider>
                            </div>
                        </div>
                        <div class="col-sm-12 text-center p-2">
                            <button *ngIf="!isReceiveOption" id="boton-form-crear-comunidad" type="button" (click)="onSaveForm()" [disabled]="submitting||!finishedProductCreationProducedElements||finishedProductCreationProducedElements.length<=0"
                                class="btn btn-outline-success btn-lg">
                                <span *ngIf="submitting" class="spinner-border spinner-border-sm me-1"></span>
                                Registrar Producto Terminado
                            </button>
                            <!-- <button *ngIf="isReceiveOption" (click)="onReceiveDialog()" type="button" [disabled]="submitting||orderForm.invalid||!rawMaterialOrderElements||rawMaterialOrderElements.length<=0" 
                            data-bs-toggle="modal" data-bs-target="#confirmModal" class="btn btn-outline-success">
                                <div class="d-flex flex-row p-1">
                                    <span *ngIf="submitting" class="spinner-border spinner-border-sm me-1"></span>
                                    <i class="material-icons icon">receipt_long</i>
                                    <span class="px-1">RECIBIR PEDIDO</span>
                                </div>
                            </button> -->
                        </div>
                    </div>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>

<div class="modal fade" id="finishedProductModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="finishedProductModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div *ngIf="selectedFinishedProduct" class="modal-header">
                <h1 class="modal-title fs-5" id="rawMaterialModalLabel">{{this.selectedFinishedProduct.name}}</h1>
                <button type="button" class="btn-close" (click)="closeRawMaterialDialog()" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="finishedProductForm">
                    <div class="d-flex flex-wrap justify-content-center">
                        <div class="col-12 p-3">
                            <view-object class="align-self-start" [objectElements]="modalFinishedProductsElements" [imgIdentifier]="this.selectedFinishedProduct?.photo"></view-object>
                        </div>
                        <div class="d-flex flex-wrap justify-content-center col-12 p-3">
                            <div class="pb-4 col-6 col-lg-3">
                                <select class="form-select form-select-lg" (ngModelChange)="changeFinishedProductMeasure($event)" formControlName="measure">
                                    <option id="finished-product-measure-modal" disabled selected value="">Medida</option>
                                    <option *ngFor="let measure of filteredFinishedProductMeasureOptions" value="{{measure.id}}">{{measure.identifier}}</option>
                                </select>
                            </div>
                            <div class="px-2">
                                <mat-form-field class="custom-input" appearance="outline">
                                    <mat-label>Cantidad</mat-label>
                                    <input id="finished-product-quantity-modal-form" type="text" formControlName="quantity" matInput
                                        [ngClass]="{ 'is-invalid': fp['quantity'].errors }" (input)="setFinishedProductModalQuantityValue($event)" />
                                    <div class="invalid-feedback" *ngIf="fp['quantity'].errors">
                                        <div *ngIf="fp['quantity'].hasError('required')">
                                            Cantidad requerida
                                        </div>
                                        <div *ngIf="fp['quantity'].hasError('pattern')">
                                            Debe contener unicamente numeros positivos con maximo dos decimales. <strong>E.g. 15.50</strong>
                                        </div>
                                    </div>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="closeFinishedProductoDialog()" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" (click)="onSaveFinishedProductForm()" [disabled]="!finishedProductForm.valid" data-bs-dismiss="modal">Agregar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal hide fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">{{confirmDialogTitle}}</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div>
                    {{confirmDialogText}}
                </div>
                <div *ngIf="warningDialogText">
                    <br>
                    <strong class="text-danger">{{warningDialogText}}</strong>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">CANCELAR</button>
                <button type="button" [disabled]="submitting" (click)="onConfirmDialog()" data-bs-dismiss="modal" class="btn btn-primary">ACEPTAR</button>
            </div>
        </div>
    </div>
</div>