<div class="genericCard pt-3">
    <mat-card class="mat-elevation-z8">
        <mat-card-content class="custom-mat-card-content">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="d-lg-none col-md-2 d-flex align-items-center justify-content-center">
                        <div class="inbtn">
                            <button
                            type="button"
                            data-toggle="collapse" 
                            data-bs-toggle="collapse" 
                            data-bs-target="#filter-options" 
                            aria-controls="filter-options" 
                            aria-expanded="false" 
                            class="btn btn-outline-primary">
                                <div class="d-flex flex-row p-1">
                                    <i class="material-icons">filter_alt</i>
                                    <span>Filtros</span>
                                </div>
                            </button>
                        </div>
                    </div>
                    <div id="filter-options" class="panel-collapse collapse col-md-12 d-lg-block px-2">
                            <form [formGroup]="productForm" (ngSubmit)="filterElements()">
                                <div class="d-flex flex-wrap justify-content-center pt-3">
                                    <div class="col-md-2 select-filter">
                                        <mat-form-field appearance="outline">
                                            <mat-label>Proveedor</mat-label>
                                            <mat-select matInput disableOptionCentering formControlName="provider">
                                                <mat-option *ngFor="let provider of providerOptions" value="{{provider._id}}">{{provider.name}} ({{provider.company}})</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-2 select-filter">
                                        <mat-form-field appearance="outline">
                                            <mat-label>Estado Pedido</mat-label>
                                            <mat-select matInput disableOptionCentering formControlName="orderStatus">
                                                <mat-option *ngFor="let status of statusOptions" value="{{status.id}}">{{status.identifier}}</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-2 select-filter">
                                        <mat-form-field appearance="outline">
                                            <mat-label>Tipo pago</mat-label>
                                            <mat-select matInput disableOptionCentering formControlName="paymentType">
                                                <mat-option *ngFor="let paymentType of paymentTypeOptions" value="{{paymentType.id}}">{{paymentType.identifier}}</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-2 select-filter">
                                        <mat-form-field appearance="outline">
                                            <mat-label>Estado pago</mat-label>
                                            <mat-select matInput disableOptionCentering formControlName="paymentStatus">
                                                <mat-option *ngFor="let paymentStatus of paymentStatusOptions" value="{{paymentStatus.id}}">{{paymentStatus.identifier}}</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                    <!-- <div class="col-md-2 select-filter">
                                        <mat-form-field appearance="outline">
                                            <mat-label>Precio</mat-label>
                                            <input id="price-form-productos" type="number"  min=0 formControlName="price" matInput/>
                                        </mat-form-field>
                                    </div> -->
                                    <div class="col-md-2 select-filter">
                                        <mat-form-field appearance="outline">
                                            <mat-label>Fecha Inicio</mat-label>
                                            <input id="applyDate-form-productos" formControlName="initialDate" 
                                            matInput [max]="maxDate" [matDatepicker]="picker">
                                            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                                            <mat-datepicker touchUi #picker disabled="false"></mat-datepicker>
                                        </mat-form-field>
                                    </div>
                                    <!-- <div class="col-md-2 select-filter">
                                        <mat-form-field appearance="outline">
                                            <mat-label>Usuario</mat-label>
                                            <input id="creatorUser-form-productos" type="text" formControlName="creatorUser" matInput/>
                                        </mat-form-field>
                                    </div> -->
                                    <div class="col-md-1 select-filter pb-4 align-self-center">
                                        <button
                                        type="submit"
                                        class="btn btn-outline-secondary waves-effect pb-0">
                                            <i class="material-icons">search</i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>
<div class="genericCard pt-3">
    <mat-card class="mat-elevation-z8">
        <mat-card-header style="justify-content: center;">
            <mat-card-title>Pedidos de Materia Prima</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="d-flex flex-wrap justify-content-md-between justify-content-center pb-0">
                        <!-- <div>
                            <button type="button" routerLink="create" class="btn btn-outline-success m-2">
                                <div class="d-flex flex-row p-1">
                                    <i class="material-icons icon">add</i>
                                    <span>Crear Pedido</span>
                                </div>
                            </button>
                        </div> -->
                        <div>
                            <div class="select-filter mx-2">
                                <mat-form-field appearance="outline">
                                    <mat-label>Buscar</mat-label>
                                    <input type="text" matInput [(ngModel)]="searchTerm" (input)="search($event)" />
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="d-flex flex-wrap justify-content-md-end justify-content-center pb-0">
                            <div class="select-filter mx-2 col-md-4 col-sm-12">
                                <mat-form-field appearance="outline">
                                    <mat-select matInput disableOptionCentering [(value)]="selectedSortOpt" (selectionChange)="sortOptSelect($event)">
                                        <mat-option *ngFor="let sortOpt of sortOpts" [value]="sortOpt">
                                            {{ sortOpt }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="select-filter mx-2 col-md-4 col-sm-12">
                                <mat-form-field appearance="outline">
                                    <mat-select matInput disableOptionCentering [(value)]="pageSize">
                                        <mat-option *ngFor="let entry of entries" [value]="entry">
                                            {{ entry }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <responsive-table *ngIf="this.rawMaterialOrders" [tableElements]="tableElementsValues" [pageSize]="pageSize"></responsive-table>
                    <span *ngIf="!rawMaterialOrders" class="spinner-border spinner-border-lg align-center"></span>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>
