<div class="genericCard pt-3">
    <mat-card class="mat-elevation-z8">
        <mat-card-header style="justify-content: center;">
            <mat-card-title>{{title}}</mat-card-title>
            <!-- <mat-card-subtitle>Tienda</mat-card-subtitle> -->
        </mat-card-header>
        <mat-card-content>
            <br>
            <div *ngIf="loading" class="text-center m-5">
                <span class="spinner-border spinner-border-lg align-center"></span>
            </div>
            <form *ngIf="!loading" [formGroup]="orderForm" (ngSubmit)="onSaveForm()">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="d-flex flex-wrap justify-content-center justify-content-md-center col-md-12 align-self-start">
                            <mat-form-field class="col-sm-12 col-md-4 custom-input align-self-start" appearance="outline">
                                <mat-label>Nombre del cliente</mat-label>
                                <input id="nameClient-form-crear-comunidad" type="text" formControlName="nameClient" matInput
                                    [ngClass]="{ 'is-invalid': f['nameClient'].errors }" />
                                <div class="invalid-feedback" *ngIf="f['nameClient'].errors">
                                    <div *ngIf="f['nameClient'].errors['maxlength']">
                                        El nombre debe tener maximo 50 caracteres
                                    </div>
                                </div>
                            </mat-form-field>
                            <mat-form-field class="col-sm-12 col-md-4 custom-input align-self-start" appearance="outline">
                                <mat-label>NIT</mat-label>
                                <input id="nitClient-form-crear-comunidad" type="text" formControlName="nitClient" matInput
                                    [ngClass]="{ 'is-invalid': f['nitClient'].errors }" />
                                <div class="invalid-feedback" *ngIf="f['nitClient'].errors">
                                    <div *ngIf="f['nitClient'].errors['maxlength']">
                                        El nombre debe tener maximo 20 caracteres
                                    </div>
                                </div>
                            </mat-form-field>
                            <div class="col-12"></div>
                            <mat-form-field *ngIf="!isEditOption" class="col-sm-12 col-md-3 custom-input align-self-start" appearance="outline">
                                <mat-label>Tipo de pago</mat-label>
                                <mat-select matInput disableOptionCentering formControlName="paymentType"
                                    [ngClass]="{ 'is-invalid': f['paymentType'].errors }" (valueChange)="selectedPaymentTypeSubject.next($event)">
                                    <mat-option *ngFor="let paymentType of paymentTypeOptions" value="{{paymentType.id}}">{{paymentType.identifier}}</mat-option>
                                </mat-select>
                                <div class="invalid-feedback" *ngIf="f['paymentType'].errors">
                                    <div *ngIf="f['paymentType'].errors['required']">
                                        Tipo de pago requerido requerido
                                    </div>
                                </div>
                            </mat-form-field>
                            <mat-form-field class="col-sm-12 col-md-5 custom-input align-self-start" appearance="outline">
                                <mat-label>Notas</mat-label>
                                <textarea id="nombre-form-crear-comunidad" type="text" formControlName="nota" matInput
                                    [ngClass]="{ 'is-invalid': f['nota'].errors }"></textarea>
                                <div class="invalid-feedback" *ngIf="f['nota'].errors">
                                    <div *ngIf="f['nota'].errors['maxlength']">
                                        Las notas deben tener maximo 100 caracteres
                                    </div>
                                </div>
                            </mat-form-field>
                            <!-- *ngIf="selectedProviderSubject.value" -->
                            <!-- <div *ngIf="selectedProviderSubject.value" class="row justify-content-center col-12"> -->
                            <div *ngIf="!isEditOption" class="row justify-content-center col-12">
                                <div class="p-3 col-sm-12 col-md-6">
                                    <h2 class="text-center text-muted">Producto disponible</h2>
                                    <div class="table-container my-custom-scrollbar">
                                        <table class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th style="width: 30%">Nombre</th>
                                                    <th style="width: 20%">Medida</th>
                                                    <th style="width: 15%">Cantidad</th>
                                                    <th style="width: 20%">Precio</th>
                                                    <!-- <th style="width: 10%">Estado</th> -->
                                                    <th style="width: 15%">Agregar</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let inventoryElement of inventoryElements; let i = index">
                                                    <td>{{inventoryElement.productForSale?.finishedProduct?.name}}</td>
                                                    <td>{{inventoryElement.measure?.identifier}}</td>
                                                    <td>{{inventoryElement.quantity}}</td>
                                                    <td>Q{{inventoryElement.productForSale?.price}}</td>
                                                    <!-- <td>{{rawMaterial.status!.id}}</td> -->
                                                    <td style="white-space: nowrap">
                                                        <button
                                                            type="button" (click)="selectInventoryElement(inventoryElement, i)"
                                                            class="btn btn-success btn-sm pb-0 mx-1"
                                                            data-bs-toggle="modal" data-bs-target="#rawMaterialModal">
                                                                <i class="material-icons">add_circle</i>
                                                        </button>
                                                    </td>
                                                </tr>
                                                <tr *ngIf="!inventoryElements">
                                                    <td colspan="4" class="text-center">
                                                        <span class="spinner-border spinner-border-lg align-center"></span>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div *ngIf="!isEditOption" class="table-responsive p-3 col-sm-12 col-md-6">
                                    <h2 class="text-center text-muted">Producto seleccionado</h2>
                                    <div class="table-container my-custom-scrollbar">
                                        <table class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th style="width: 30%">Nombre</th>
                                                    <th style="width: 10%">Precio</th>
                                                    <th style="width: 10%">Descuento</th>
                                                    <th style="width: 15%">Cantidad</th>
                                                    <th style="width: 10%">Medida</th>
                                                    <th style="width: 10%">Total</th>
                                                    <th style="width: 15%">Acciones</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let itemList of itemsList; let i = index">
                                                    <td>{{itemList.productForSale?.finishedProduct?.name}}</td>
                                                    <td>Q{{itemList.price}}</td>
                                                    <td>Q{{itemList.discount}}</td>
                                                    <td>{{itemList.quantity}}</td>
                                                    <td>{{itemList.measure?.identifier}}</td>
                                                    <td>Q{{itemList.total}}</td>
                                                    <!-- <td><input [(ngModel)]="orderElement.quantity" [ngModelOptions]="{ standalone: true }" (keydown)="onQuantityKeydown($event)"
                                                        style="width: 100%;" type="text" placeholder="Cantidad" aria-label="Cantidad" min="1"
                                                        type="number">
                                                    </td>
                                                    <td>
                                                        <div class="input-with-text">
                                                            <span class="input-text">Q</span><input (keydown)="onDiscountKeydown($event)" (input)="onDiscountInput($event, orderElement)"
                                                            style="width: 100%;" type="text" placeholder="Descuento" aria-label="Descuento" min="0">
                                                        </div>
                                                    </td> -->
                                                    <td style="white-space: nowrap">
                                                        <button
                                                            type="button" (click)="unselectItemList(itemList, i)"
                                                            class="btn btn-danger btn-sm pb-0 mx-1">
                                                                <i class="material-icons">cancel</i>
                                                        </button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <mat-divider></mat-divider>
                            </div>
                            <div *ngIf="!isEditOption" class="container">
                                <div class="row justify-content-center mt-4">
                                    <mat-form-field class="col-sm-12 col-md-3 custom-input align-self-start" appearance="outline">
                                        <mat-label>Costo envío</mat-label>
                                        <input id="delivery-form-crear-comunidad" type="text" formControlName="delivery" matInput
                                            [ngClass]="{ 'is-invalid': f['delivery'].errors }" (input)="setDeliveryValue($event)" />
                                        <div class="invalid-feedback" *ngIf="f['delivery'].errors">
                                            <div *ngIf="f['delivery'].hasError('required')">
                                                Costo requerido
                                            </div>
                                            <div *ngIf="f['delivery'].hasError('pattern')">
                                                Debe contener unicamente numeros positivos con maximo dos decimales. <strong>E.g. 15.50</strong>
                                            </div>
                                        </div>
                                    </mat-form-field>
                                </div>
                                <div class="row justify-content-center">
                                    <div *ngIf="!isEditOption" class="row justify-content-center col-lg-5 col-md-8 col-sm-12 p-3">
                                        <div class="subtotal">
                                            <p class="subtotal-title">Subtotal</p>
                                            <p class="subtotal-amount">Q{{ calculateSubtotal() | number: '1.2-2' }}</p>
                                        </div>
                                        <div class="descuento">
                                            <p class="subtotal-title">Descuento</p>
                                            <p class="subtotal-amount">Q{{ calculateTotalDiscount() | number: '1.2-2' }}</p>
                                        </div>
                                        <div class="descuento">
                                            <p class="subtotal-title">Costo envio</p>
                                            <p class="subtotal-amount">Q{{ delivery | number: '1.2-2' }}</p>
                                        </div>
                                        <div class="total">
                                            <p class="total-title">Total</p>
                                            <p class="total-amount">Q{{ calculateTotal() | number: '1.2-2' }}</p>
                                        </div>
                                        <div *ngIf="isReceiveOption" class="subtotal">
                                            <p class="subtotal-title">Monto Abonado</p>
                                            <p class="subtotal-amount">Q{{ calculatePaidAmount() | number: '1.2-2' }}</p>
                                        </div>
                                        <div *ngIf="isReceiveOption" class="total">
                                            <p class="total-title">Monto Pendiente</p>
                                            <p class="total-amount">Q{{ calculatePendingAmount() | number: '1.2-2' }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 text-center p-2">
                            <button id="boton-form-crear-comunidad" type="submit" [disabled]="submitting||orderForm.invalid||(!itemsList||itemsList.length<=0 && !isEditOption)"
                                class="btn btn-outline-success btn-lg">
                                <span *ngIf="submitting" class="spinner-border spinner-border-sm me-1"></span>
                                Guardar Venta
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>

<div class="modal fade" id="rawMaterialModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="rawMaterialModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div *ngIf="selectedIE" class="modal-header">
                <h1 class="modal-title fs-5" id="rawMaterialModalLabel">{{this.selectedIE.productForSale?.finishedProduct?.name}}</h1>
                <button type="button" class="btn-close" (click)="closeRawMaterialDialog()" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="rawMaterialForm">
                    <div class="d-flex flex-wrap justify-content-center">
                        <view-object class="align-self-start" [objectElements]="elements" [imgIdentifier]="this.selectedIE?.productForSale?.finishedProduct?.photo"></view-object>
                        <div class="d-flex flex-wrap justify-content-center col-12 p-3">
                            <div class="pb-4 col-6 col-lg-3">
                                <select class="form-select form-select-lg" (ngModelChange)="changeMeasure($event)" formControlName="measure">
                                    <option disabled selected value="">Medida</option>
                                    <option *ngFor="let measure of filteredMeasureOptions" value="{{measure.id}}">{{measure.identifier}}</option>
                                </select>
                            </div>
                            <div class="px-2">
                                <mat-form-field class="custom-input" appearance="outline">
                                    <mat-label>Cantidad</mat-label>
                                    <input id="quantity-modal-form" type="text" formControlName="quantity" matInput
                                        [ngClass]="{ 'is-invalid': r['quantity'].errors }" (input)="setQuantityValue($event)" />
                                    <div class="invalid-feedback" *ngIf="r['quantity'].errors">
                                        <div *ngIf="r['quantity'].hasError('required')">
                                            Cantidad requerida
                                        </div>
                                        <div *ngIf="r['quantity'].hasError('pattern')">
                                            Debe contener unicamente numeros positivos
                                        </div>
                                    </div>
                                </mat-form-field>
                            </div>
                            <div class="px-2">
                                <mat-form-field class="custom-input align-self-start" appearance="outline">
                                    <mat-label>Descuento (Quetzales)</mat-label>
                                    <input id="discount-modal-form" type="text" formControlName="discount" matInput
                                        [ngClass]="{ 'is-invalid': r['discount'].errors }" (input)="setDiscountValue($event)" />
                                    <div class="invalid-feedback" *ngIf="r['discount'].errors">
                                        <div *ngIf="r['discount'].hasError('required')">
                                            Descuento requerido
                                        </div>
                                        <div *ngIf="r['discount'].hasError('pattern')">
                                            Debe contener unicamente numeros positivos con maximo dos decimales. <strong>E.g. 15.50</strong>
                                        </div>
                                    </div>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="container">
                            <div class="row justify-content-center col-12">
                                <div *ngIf="selectedMeasure" class="row justify-content-center col-lg-7 col-md-8 col-sm-12 p-3">
                                    <div class="subtotal">
                                        <p class="subtotal-title">Cantidad Disponible ({{ selectedIE?.measure?.identifier }})</p>
                                        <p class="subtotal-amount">{{ this.selectedIE?.quantity }}</p>
                                    </div>
                                    <div class="total">
                                        <p class="total-title">Cantidad Seleccionada ({{ selectedIE?.measure?.identifier }})</p>
                                        <p class="total-amount">{{ selectedQuantity }}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row justify-content-center col-12">
                                <div *ngIf="selectedMeasure" class="row justify-content-center col-lg-7 col-md-8 col-sm-12 p-3">
                                    <div class="subtotal">
                                        <p class="subtotal-title">Subtotal</p>
                                        <p class="subtotal-amount">{{ modalSubtotalText }}</p>
                                    </div>
                                    <div class="descuento">
                                        <p class="subtotal-title">Descuento</p>
                                        <p class="subtotal-amount">{{ modalTotalDiscountText }}</p>
                                    </div>
                                    <div class="total">
                                        <p class="total-title">Total</p>
                                        <p class="total-amount">{{ modalTotalText }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="closeRawMaterialDialog()" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" (click)="onSaveMaterialForm()" [disabled]="!rawMaterialForm.valid" data-bs-dismiss="modal">Agregar</button>
            </div>
        </div>
    </div>
</div>