mat-form-field{
    width: 100%;
    // margin-left: 5%;
    // height: 30px !important;
    // width: 50%;
    // margin-left: 25%;
    // height: 50%;
    // // width: 90%;
    // display: flex;
    // align-items: flex-end;
    // height: 10px !important;
    
}


.mat-form-field mat-select {
    height: 10px;
    // transition: height ease-in-out 100ms;
}

.parent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }


.centrado{
    align-content: center;
}

.mat-success {
    background-color: #33c000;
    color: #fff;
}

.mat-remove {
    background-color: #ff8000;
    color: #fff;
}

.inbtn{
    // display: flex;
    // justify-content: center;
    // align-items: center; 
    // display: inline-block;
    padding: 10px;
}

.genericCard {
    /* margin-top: 10px; */
    margin: 20px;
}

.select-filter{
    padding: 0 5px;
}

.custom-mat-card-content{
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}