<nav id="sidebarMenuLarge" class="collapse d-lg-block sidebar bg-white">
  <div class="position-sticky">
    <div class="list-group list-group-flush mx-3 mt-4">
      <div *ngFor="let subMenu of menuItems" class="list-group-item p-0">
        <!-- <button 
        *ngIf="!subMenu.is_tree"
        type="{{subMenu.button_type}}"
        class="{{subMenu.button_class}}"
        routerLink="{{subMenu.button_router_link}}"
        >
          <div class="d-flex flex-row sidebar-row">
            <i class="{{subMenu.button_icon_class}}">{{subMenu.button_icon}}</i>
            <span>{{subMenu.button_name}}</span>
          </div>
      </button> -->
        <button 
        *ngIf="subMenu.is_tree"
        type="{{subMenu.button_type}}"
        class="{{subMenu.button_class}}"
        [attr.data-bs-toggle] = "subMenu.button_data_bs_toggle" 
        [attr.data-bs-target] = "subMenu.button_data_bs_target" 
        [attr.aria-controls]= "subMenu.button_aria_controls" 
        [attr.aria-expanded] = "subMenu.button_aria_expanded" 
        >
          <div class="d-flex flex-row sidebar-row">
            <i class="{{subMenu.button_icon_class}}">{{subMenu.button_icon}}</i>
            <span>{{subMenu.button_name}}</span>
            <i class="{{subMenu.button_dropdown_icon_class}}">{{subMenu.button_dropdown_icon}}</i>
          </div>
        </button>
        <div *ngIf="subMenu.is_tree" id="{{subMenu.root_id}}" class="{{subMenu.root_class}}">
          <div class="{{subMenu.sub_class}}">
            <div *ngFor="let child of subMenu.childs" class="{{child.root_class}}">
              <!-- <button 
              routerLink="{{child.router_link}}" 
              class="{{child.link_class}}"
              type="button"
              > -->
              <button 
              (click)="navigateWithParams(child.router_link, child.query_params)"
              class="{{child.link_class}}"
              type="button"
              >
                <div class="d-flex flex-row sidebar-row">
                  <i class="{{child.icon_class}}">{{child.icon_name}}</i>
                  <span>{{child.link_name}}</span>
                </div>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>