.genericCard {
    margin: 20px;
}

.custom-input {
    padding: 0 10px;
}

.product-name {
    margin: 0;
    font-size: 1.5rem;
    font-weight: 600;
    color: #101828;
}

.product-reference {
    margin: 2px 0 0;
    color: gray;
    font-size: medium;
}
