<div class="container">
    <div class="row justify-content-center p-sm-2 p-lg-4">
        <mat-card class="col col-lg-6">
            <mat-card-content>
                <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                    <div class="d-flex flex-wrap justify-content-center">
                        <img width="100%" class="col-sm-10 my-3" src="assets/img/brand/embutidos_any_black.png"/>
                        <mat-form-field class="col-sm-10 custom-input" appearance="outline">
                            <mat-label>Nombre(s) y Apellido(s)</mat-label>
                            <input id="completeName-form-crear-cuenta" type="text" formControlName="name" matInput
                                [ngClass]="{ 'is-invalid': f['name'].errors }" />
                            <div class="invalid-feedback" *ngIf="f['name'].errors">
                                <div *ngIf="f['name'].hasError('required')">
                                    Nombre(s) y Apellido(s) requeridos
                                </div>
                                <div *ngIf="f['name'].hasError('pattern')"><strong>El nombre no puede estar vacio</strong>
                                </div>
                            </div>
                        </mat-form-field>
                        <mat-form-field class="col-sm-10 custom-input" appearance="outline">
                            <mat-label>Correo electronico</mat-label>
                            <input id="completeName-form-crear-cuenta" type="text" formControlName="email" matInput
                                [ngClass]="{ 'is-invalid': f['email'].errors }"/>
                            <div class="invalid-feedback" *ngIf="f['email'].errors">
                                <div *ngIf="f['email'].hasError('required')">
                                    Correo electronico requerido
                                </div>
                                <div *ngIf="f['email'].hasError('pattern')">El correo debe contener
                                    <strong>una estructura como example@email.com</strong>
                                </div>
                            </div>
                        </mat-form-field>
                        <mat-form-field class="col-sm-10 custom-input" appearance="outline">
                            <mat-label>Contraseña</mat-label>
                            <input id="password-form-iniciar-sesion" type="password" formControlName="password" matInput
                                [ngClass]="{ 'is-invalid': f['password'].errors }" />
                            <div class="invalid-feedback" *ngIf="f['password'].errors">
                                <div *ngIf="f['password'].hasError('required')">
                                    Contraseña requerida
                                </div>
                                <div *ngIf="f['password'].hasError('pattern')">La contraseña debe contener
                                    <strong>más de 6 caracteres, mínimo 1 letra mayúscula, mínimo 1 letra minúscula, 
                                        mínimo 1 caracter especial (@$!%*?&)</strong>
                                </div>
                            </div>
                        </mat-form-field>
                        <div class="col-md-8 col-sm-12 text-center">
                            <button [disabled]="loading" class="btn btn-danger custom-button btn-lg">
                                <span *ngIf="loading" class="spinner-border spinner-border-sm me-1"></span>
                                Crear cuenta
                            </button>
                        </div>
                        <div class="col-sm-12 text-center my-2">
                            <a routerLink="../login" class="btn btn-outline-danger">Cancelar</a>
                        </div>
                    </div>
                </form>
            </mat-card-content>
        </mat-card>
    </div>
</div>

<!-- <div class="card">
    <h4 class="card-header">Register</h4>
    <div class="card-body">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="mb-3">
                <label class="form-label">Nombre(s) y Apellido(s)</label>
                <input type="text" formControlName="completeName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['completeName'].errors }" />
                <div *ngIf="submitted && f['completeName'].errors" class="invalid-feedback">
                    <div *ngIf="f['completeName'].errors['required']">Nombre(s) y Apellido(s) requeridos</div>
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label">Nombre de Usuario</label>
                <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['username'].errors }" />
                <div *ngIf="submitted && f['username'].errors" class="invalid-feedback">
                    <div *ngIf="f['username'].errors['required']">Nombre de usuario requerido</div>
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label">Correo electronico</label>
                <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['email'].errors }" />
                <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
                    <div *ngIf="f['email'].errors['required']">Correo electronico requerido</div>
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label">Contraseña</label>
                <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['password'].errors }" />
                <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
                    <div *ngIf="f['password'].errors['required']">La contraseña es requerida</div>
                    <div *ngIf="f['password'].errors['pattern']">La contraseña debe contener
                        <strong>más de 6 caracteres, mínimo 1 letra mayúscula, mínimo 1 letra minúscula, 
                            mínimo 1 caracter especial</strong></div>
                </div>
            </div>
            <div>
                <button [disabled]="loading" class="btn btn-primary">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm me-1"></span>
                    Register
                </button>
                <a routerLink="../login" class="btn btn-link">Cancel</a>
            </div>
        </form>
    </div>
</div> -->