<div class="home">

    <header class="home__greeting">
        <h4 class="home__title">{{ greeting }}<span *ngIf="firstName">, {{ firstName }}</span></h4>
        <p class="home__subtitle">
            <span>{{ todayLabel }}</span>
            <span *ngIf="roleName" class="home__subtitle-sep">·</span>
            <span *ngIf="roleName">{{ roleName }}</span>
        </p>
    </header>

    <section class="home__section" aria-labelledby="home-recientes">
        <h5 class="home__section-title" id="home-recientes">Recientes</h5>

        <div class="recent-grid" *ngIf="recentRoutes.length">
            <a class="recent-card"
               *ngFor="let route of recentRoutes; trackBy: trackByUrl"
               [routerLink]="route.routerLink"
               [queryParams]="route.queryParams">
                <i class="material-icons recent-card__icon">{{ route.icon }}</i>
                <span class="recent-card__text">
                    <span class="recent-card__label">{{ route.label }}</span>
                    <span class="recent-card__group">{{ route.group }}</span>
                </span>
                <i class="material-icons recent-card__arrow" aria-hidden="true">arrow_forward</i>
            </a>
        </div>

        <p class="home__hint" *ngIf="!recentRoutes.length">
            Las pantallas que uses van a aparecer aquí como accesos directos.
        </p>
    </section>

</div>
